menu "ButtHeat config"

  config TX_GPIO_NUM
    int "TX GPIO number"
    default 21 if IDF_TARGET_ESP32
	default 0
	help
	  Select GPIO pin for CAN TX

  config RX_GPIO_NUM
    int "RX GPIO number"
    default 22 if IDF_TARGET_ESP32
	default 2
	help
	  Select GPIO pin for CAN RX

  config BTN_LEFT
    int "Left Seat Button GPIO"
    default 5

  config BTN_RIGHT
    int "Right Seat Button GPIO"
    default 6

  config SDA_GPIO
    int "Display (SSD1306) I2C SDA"
    default 8

  config SCL_GPIO
    int "Display (SSD1306) I2C SDA"
    default 9

  config TX_SETTLE_TIMEOUT_MS
    int "How many ms to wait for acceptance after sending change command"
    default 250

endmenu
